# Prerequisites
*.d

# Object files
*.o

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out

# Misc automake/conf stuff
aclocal
aclocal.m4
configure 
*~
*.swp
config.h.in
config.h
autom4te.cache
build-aux
.libs
.deps
compile
config.*
Makefile.in
Makefile
libtool
stamp-h1
ldap_simple-*
